.searchContainer {
  display: flex;
  justify-content: flex-end;
  padding: 3rem 1rem;
  margin-left: 1.5rem;
}

.dashboard ul {
  padding-bottom: 4rem;
}

@media (max-width: 600px) {
  .searchContainer {
    flex-direction: column;
  }

  .searchContainer button {
    margin-top: 1rem;
    margin-left: -1rem;
    padding: 0;
  }
}
